In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pylab as plt
from google.colab import files

**DATA PROCESSING**

In [ ]:
# Đọc file
df1=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_January_2019.csv')
df2=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_February_2019.csv')
df3=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_March_2019.csv')
df4=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_April_2019.csv')
df5=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_May_2019.csv')
df6=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_June_2019.csv')
df7=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_July_2019.csv')
df8=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_August_2019.csv')
df9=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_September_2019.csv')
df10=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_October_2019.csv')
df11=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_November_2019.csv')
df12=pd.read_csv('/content/drive/MyDrive/SALES PRODUCT DATA/Sales_December_2019.csv')

In [ ]:
# Gộp file
Sales_Data=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])
Sales=Sales_Data

In [ ]:
# Đọc DataFrame
Sales.info()
Sales.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186850 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 10.0+ MB

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

In [ ]:
# Drop NA column
Sales = Sales.dropna(how = 'all').reset_index(drop=True)

In [ ]:
# Checking unique value của mỗi cột, Xem mỗi cột có bao nhiêu giá trị duy nhất
categorical=Sales.columns
for i in range(0,len(categorical)):
  print(categorical[i],": ",Sales[categorical[i]].nunique())
  print(Sales[categorical[i]].unique())

Order ID :  178438
['141234' '141235' '141236' ... '319668' '319669' '319670']
Product :  20
['iPhone' 'Lightning Charging Cable' 'Wired Headphones' '27in FHD Monitor'
 'AAA Batteries (4-pack)' '27in 4K Gaming Monitor' 'USB-C Charging Cable'
 'Bose SoundSport Headphones' 'Apple Airpods Headphones'
 'Macbook Pro Laptop' 'Flatscreen TV' 'Vareebadd Phone'
 'AA Batteries (4-pack)' 'Google Phone' '20in Monitor'
 '34in Ultrawide Monitor' 'ThinkPad Laptop' 'LG Dryer'
 'LG Washing Machine' 'Product']
Quantity Ordered :  10
['1' '2' '3' '5' '4' '7' 'Quantity Ordered' '6' '9' '8']
Price Each :  24
['700' '14.95' '11.99' '149.99' '2.99' '389.99' '11.95' '99.99' '150'
 '1700' '300' '400' '3.84' '600' '109.99' '379.99' '999.99' '600.0'
 'Price Each' '700.0' '150.0' '300.0' '1700.0' '400.0']
Order Date :  142396
['01/22/19 21:25' '01/28/19 14:15' '01/17/19 13:33' ... '12/01/19 12:01'
 '12/09/19 06:43' '12/03/19 10:39']
Purchase Address :  140788
['944 Walnut St, Boston, MA 02215' '185 Maple St, Portland, OR 97035'
 '538 Adams St, San Francisco, CA 94016' ...
 '273 Wilson St, Seattle, WA 98101' '778 River St, Dallas, TX 75001'
 '747 Chestnut St, Los Angeles, CA 90001']

In [ ]:
# Bỏ giá trị Price Each và Quantity order không hợp lệ
Sales=Sales[Sales['Quantity Ordered']!='Quantity Ordered']
Sales=Sales[Sales['Price Each']!='Price Each']
Sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185950 entries, 0 to 186304
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  object
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  object
 3   Price Each        185950 non-null  object
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [ ]:
# Gán giá trị số cho Quantity order and price each
Sales['Quantity Ordered']=Sales['Quantity Ordered'].astype(int)
Sales['Price Each']=Sales['Price Each'].astype(float)
# Chỉnh Order về dạng Datetime'
Sales['Order Date'] = pd.to_datetime(Sales['Order Date'])

In [ ]:
Sales['Order Date'].head()

0   2019-01-22 21:25:00
1   2019-01-28 14:15:00
2   2019-01-17 13:33:00
3   2019-01-05 20:33:00
4   2019-01-25 11:59:00
Name: Order Date, dtype: datetime64[ns]

In [ ]:
# Tạo côt revenue
Sales['Revenue']=Sales['Quantity Ordered']*Sales['Price Each']
# Tạo cột city
Sales["City"]=Sales['Purchase Address'].apply(lambda x: x.split(',')[1])
# Tạo cột Năm, Ngày, Tháng, Giờ, Phút
Sales['Date']=Sales['Order Date'].dt.day
Sales['Month']=Sales['Order Date'].dt.month
Sales['Year']=Sales['Order Date'].dt.year
Sales['Hour']=Sales['Order Date'].dt.hour
Sales['Minute']=Sales['Order Date'].dt.minute
# Bỏ năm 2020
Sales=Sales[Sales['Year']!=2020]

In [ ]:
# Sản phẩm bán cùng nhau
from itertools import combinations
from collections import Counter

together={}
# drop it using duplicated() funct
data = Sales[Sales['Order ID'].duplicated(keep=False)]
# create a new column
data['Grouped'] = Sales.groupby('Order ID')['Product'].transform(lambda x: ','.join(x))
# let's make a new variable
data = data[['Order ID', 'Grouped']].drop_duplicates()
# create a new variable for Counter
count = Counter()
# make a for loop
for row in data['Grouped']:
    row_list = row.split(',')
    count.update(Counter(combinations(row_list, 2)))

In [ ]:
# create a DataFrame from the count dictionary
df = pd.DataFrame.from_dict(count, orient='index', columns=['Count'])

# reset the index and split the tuples into two columns
df = df.reset_index().rename(columns={'index': 'Product Pair'})
df[['Product 1', 'Product 2']] = pd.DataFrame(df['Product Pair'].tolist())

# sort the dataframe by the count column
df = df.sort_values(by='Count', ascending=False)

# show the first 10 rows
df=df.head(10)
Sales_together=df[['Product 1','Product 2','Count']]

Sales_together=Sales_together.reset_index(drop=True)
Sales_together

                  Product 1                   Product 2  Count
0                    iPhone    Lightning Charging Cable   1004
1              Google Phone        USB-C Charging Cable    987
2                    iPhone            Wired Headphones    447
3              Google Phone            Wired Headphones    414
4           Vareebadd Phone        USB-C Charging Cable    361
5                    iPhone    Apple Airpods Headphones    359
6              Google Phone  Bose SoundSport Headphones    220
7      USB-C Charging Cable            Wired Headphones    160
8           Vareebadd Phone            Wired Headphones    143
9  Lightning Charging Cable            Wired Headphones     92

In [ ]:
Sales[['Product','Price Each']].drop_duplicates()

In [ ]:
dataplot = sns.heatmap(Sales.corr(), cmap="YlGnBu", annot=True)
plt.show()

In [ ]:
from google.colab import files
Sales.to_csv('Sales.csv', index=False, header=True)
files.download('Sales.csv')

In [ ]:
Sales.info()